.footer{
background:#111;
color:white;
text-align:center;
padding:50px 20px;
}

.footer h2{
margin-bottom:20px;
}

.footer p{
margin:10px 0;
}

.socials{
display:flex;
justify-content:center;
gap:20px;
margin:25px 0;
}

.socials span{
cursor:pointer;
}